<p>
  <mat-toolbar id="toolbar">
    <div id="barRow">
      <span><img id="logo" src="./assets/rzd-logo.svg"></span>
    </div>
  </mat-toolbar>
</p>
<div id="bg">
  <mat-card class="mat-elevation-z5 login" id="container">
    <button mat-mini-fab color="accent" routerLink="/visualization">
      <mat-icon>insert_chart_outlined</mat-icon>
    </button>
    <button mat-icon-button routerLink="/brigade-schedule">
      <mat-icon>table_chart</mat-icon>
    </button>

    <img src="./assets/plot.jpg" width="600" height="200">

    <div class="btn-group">
      <button mat-stroked-button color="accent" [routerLink]="['/options']">
        Вернуться
      </button>
      <button mat-stroked-button color="primary">
        Сохранить
        <mat-icon aria-hidden="false">get_app</mat-icon>
      </button>
      <button mat-stroked-button color="primary">
        Распечатать
        <mat-icon aria-hidden="false">print</mat-icon>
      </button>
    </div>
  </mat-card>
</div>

