@White: #FFFFFF;
@Light-Grey: #E3E3E3;
@Grey: #E0E0E0;
@Dark-Grey: #757575;
@Red: #DA4216;
@Blue: #007DFF;
@Black: #444444;

html, body {
  height: 100%;
  background-color: @Grey;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
