<p>
  <mat-toolbar id="toolbar">
    <div id="barRow">
      <span><img id="logo" src="./assets/rzd-logo.svg"></span>
    </div>
  </mat-toolbar>
</p>
<div id="bg">
  <mat-card class="mat-elevation-z5 login" id="container">
    <button mat-icon-button routerLink="/visualization">
      <mat-icon>insert_chart_outlined</mat-icon>
    </button>
    <button mat-mini-fab color="accent" routerLink="/brigade-schedule">
      <mat-icon>table_chart</mat-icon>
    </button>

    <div class="mat-elevation-z0">
      <table *ngIf="crewPairs" mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="train">
          <th mat-header-cell *matHeaderCellDef> № Поезда(туда)</th>
          <td mat-cell *matCellDef="let element"> {{element.train_to_title}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Дата отправления(туда)</th>
          <td mat-cell *matCellDef="let element">{{element.date_start_to}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef>Дата прибытия(туда)</th>
          <td mat-cell *matCellDef="let element">{{element.date_end_to}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="to">
          <th mat-header-cell *matHeaderCellDef>№ Поезда(обратно)</th>
          <td mat-cell *matCellDef="let element">{{element.train_from_title}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="brigade">
          <th mat-header-cell *matHeaderCellDef>Дата отправления(обратно)</th>
          <td mat-cell *matCellDef="let element">{{element.date_start_from}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="brigadir">
          <th mat-header-cell *matHeaderCellDef>Дата прибытия(обратно)</th>
          <td mat-cell *matCellDef="let element">{{element.date_end_from}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <div class="btn-group">
      <button mat-stroked-button color="accent" [routerLink]="['/options']">
        Вернуться
      </button>
      <button *ngIf="crewPairs" mat-stroked-button color="primary" (click)="PrintPdf()">
        Сохранить
        <mat-icon aria-hidden="false">get_app</mat-icon>
      </button>
      <button mat-stroked-button color="primary">
        Распечатать
        <mat-icon aria-hidden="false">print</mat-icon>
      </button>
    </div>

  </mat-card>
</div>

