<mat-card class="mat-elevation-z5 login">
  <div class="login--inner">
    <img src="./assets/rzd-logo.svg">
    <h2>вход в систему <br> подвязки поездов</h2>
    <mat-form-field appearance="fill">
      <mat-label>Логин</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <button mat-stroked-button color="accent" [routerLink]="['/options']">
      Войти
    </button>
    <a>Забыли пароль?</a>
    <br>
  </div>
</mat-card>
