.login {
  margin: auto;
  width: 40%;
  margin-top: 5%;
  font-size: 1.2vw;
  text-align: center;
}

.login--inner {
  margin: 22%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.login h2 {
  font-size: 1.8vw;
  text-transform: uppercase;
  margin-bottom: 6%;
}


.login button {
  font-size: 1.3vw;
  text-transform: uppercase;
  padding: 1.5vh;
  border: @Red solid 1.5pt;
  margin-top: 10%;
}

.login a {
  text-decoration: underline solid;
  color: @Grey;
  margin-top: 10%;
  margin-bottom: 5%;
}

img {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 5vw;
}

@import "./src/styles.less";
